@media all and (min-width: 100px) {
    .Login {
        padding: 60px 0;
        
    }
    
    .Login form {
        margin: 0 auto;
        max-width: 320px;
    }


    .Loginbox {
        background-color: #00bfff;
        width: 350px;
        height: 500px;
        position:absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: inline-block;
        margin: auto;
        opacity: 0.7;
        border-radius: 10px;
        font-family: sans-serif;
        color: aliceblue;
        font-weight: bold;
    }
    
    .Loginbox h1 {
        margin: 10px 50px 20px 80px;
        padding: 10px 10px;
        border: 0px;
        display: inline-block;
        position: inherit;
        color: aliceblue;
    }    
    
    
    form {
        margin: 40px 25px;
    }

    #LoginForm {
        margin: 30px;
    }
    
    /*
    .Loginbox ControlLabel {
        margin: 7px;
        padding: 2px;
        font-weight: bold;
        color: aliceblue;
    }
    */

    .Loginbox input {
        width: 100%;
        margin-bottom: 20px;
    }
   
    
}